# Python Cache ignorieren
__pycache__/
*.pyc

# Virtuelle Umgebung ignorieren
venv/
env/
.env

# IDE Settings ignorieren
.vscode/
.idea/

# Datensätze begrenzen
data/*.json
data/*.duckdb
data/train_delay_with_features.parquet
data/parquet/
!data/.gitkeep  # Aber die .gitkeep Datei behalten wir!

# ignore helper from Jakob
helper_jakob.txt
